.navbar .active {
  border-radius: 10px;
  color: coral !important;
  font-weight: bold;
}
.nav-link:hover {
  color: coral !important;
}
.nav-link {
  font-size: 1.1em;
  color: black !important;
  padding-top: 10px;
}
.fonty {
  font-family: "Poppins", sans-serif !important;
}
.btn-search {
  border-color: coral;
  color: coral;
}
.btn-search:hover {
  background-color: coral;
  color: white;
}
.dropdown-item:hover {
  background-color: rgba(255, 127, 80, 0.509);
}
@media (max-width: 768px) {
  .dropdown-menu {
    background-color: rgba(255, 127, 80, 0.411);
  }
}
.dropdown-item .active{
color: coral;
}
.caro1{
  margin-top: 90px!important;
}
